/*basic/grey/neutral*/
$basic-white: #FFFFFF;
$neutral-white: #F1F1F1;
$spread-grey0: #E4E4E4;
$spread-grey1: #CACACA;
$spread-grey2: #B1B1B1;
$spread-grey3:#979797;
$spread-grey4: #7D7D7D;
$spread-grey5: #696969;
$spread-grey6: #555555;
$spread-grey7: #414141;
$spread-grey8: #2D2D2D;
$neutral-black: #191919;
$basic-black: #000000;

/*brand colors*/
$brand-color-indigo: #265e6c;
$brand-color-pink: #F778B9;
$brand-color-purple: #B378FF;
